@{
    ViewData["Title"] = "Home Page";
}

<!-- jumbotron -->
<section style="background-image: url(images/NG-en.jpg); height: 100vh;">
    <nav>
        <img src="~/images/logo.png">
        <button>Sign In</button>
    </nav>

    <div class="text-center">
        <h1 class="headingOne">Unlimited movies, TV shows, and more</h1>
        <p>Watch anywhere. Cancel anytime.</p>
        <p>Ready to watch? Enter your email to create or restart your membership.</p>
        <form method="post">
            <input />
            <button>Get Started<i class="fa fa-chevron-right"></i></button>
        </form>
    </div>
</section>
<section style="background: #232323; height: 10px;"></section>

<section style="background: #000000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12">
                <h1 class="headingOne">Enjoy on your TV</h1>
                <p class="headingTwo">Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
            </div>
            <div class="col-md-6 col-12"></div>
        </div>
    </div>
</section>
<section style="background: #232323; height: 10px;"></section>
<section style="background: #000000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12"></div>
            <div class="col-md-6 col-12">
                <h1 class="headingOne">Download your shows to watch offline</h1>
                <p class="headingTwo">Save your favorites easily and always have something to watch.</p>
            </div>
        </div>
    </div>
</section>
<section style="background: #232323; height: 10px;"></section>
<section style="background: #000000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12">
                <h1 class="headingOne">Watch everywhere</h1>
                <p class="headingTwo">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
            </div>
            <div class="col-md-6 col-12"></div>
        </div>
    </div>
</section>
<section style="background: #232323; height: 10px;"></section>
<section style="background: #000000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12"></div>
            <div class="col-md-6 col-12">
                <h1 class="headingOne">Create profiles for kids</h1>
                <p class="headingTwo">Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</p>
            </div>
        </div>
    </div>
</section>
<section style="background: #232323; height: 10px;"></section>
<section style="background: #000000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12">
                <h1 class="headingOne">Frequently Asked Questions</h1>
            </div>
            <div class="col-md-6 col-12"></div>
        </div>
    </div>
</section>
<section style="background: #232323; height: 10px;"></section>
<section style="background: #000000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <a><u>Questions? Contact us.</u></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <ul>
                    <li>
                        <a><u>FAQ.</u></a>
                    </li>
                    <li>
                        <a><u>Investor Relations</u></a>
                    </li>
                    <li>
                        <a><u>Privacy</u></a>
                    </li>
                    <li>
                        <a><u>Speed Test</u></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <ul>
                    <li>
                        <a><u>Help Center</u></a>
                    </li>
                    <li>
                        <a><u>Jobs</u></a>
                    </li>
                    <li>
                        <a><u>Cookie Preferences</u></a>
                    </li>
                    <li>
                        <a><u>Legal Notices</u></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <ul>
                    <li>
                        <a><u>Account</u></a>
                    </li>
                    <li>
                        <a><u>Ways to Watch</u></a>
                    </li>
                    <li>
                        <a><u>Corporate Information</u></a>
                    </li>
                    <li>
                        <a><u>Only on Netflix</u></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <ul>
                    <li>
                        <a><u>Media Center</u></a>
                    </li>
                    <li>
                        <a><u>Terms of Use</u></a>
                    </li>
                    <li>
                        <a><u>Contact Us</u></a>
                    </li> 
                </ul>
            </div>
            
        </div>
    </div>
</section>